*{
    margin: 0;
    padding: 0;
}

.father{
    width: 950px;
    height: 600px;
    /*border: 2px solid silver;*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.card{
    width: 450px;
    height: 150px;
    background: #f3f8f8;
    display: flex;
    border-radius: 10px;
}

.card:hover{
    background: silver;
}

.icon{
    width: 150px;
    height: 150px;
    /*border: 2px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon>i{
    font-size: 40px;
    color: dimgray;
}




.title{
    width: 300px;
    height: 150px;
    /*border: 2px solid yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}




.title>h4{
    color: #f8c622;
    font-size: 25px;
    margin-bottom: 10px;
}

.title>p{
    padding-right: 15px;
    color: dimgray;
}