.body{
    margin: 0;
}





.first{
    width: 100%;
    height: 100px;
    background: #c6f8f8;
    position: relative;


}


.second{
    width: 100%;
    height: 400px;
    background: #1145f8;
    display: flex;
    position: relative;


}


.thid{
    width: 100%;
    height: 200px;
    background: silver;
}


.target{
    width: 100%;
    height: 200px;
    position: absolute;
    display: flex;
   justify-content: center;
    bottom: -75px;
}


.box{
    height: 200px;
    width: 200px;
    background: purple;
    border-radius: 10px;
    margin: 20px;


}

.box1{
     height: 50px;
     width: 150px;
    position: absolute;
    background: dimgray;
    border-radius: 10px;
    top: 25px;
    left: 100px;

 }


.fa-magnifying-glass{
    font-size: 35px;
    color: dimgray;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 80px;
    top: 27px;

}

.fa-bars{
    font-size: 40px;
    color: dimgray;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 20px;
    top: 25px;

}