.body{
    margin: 0;

}


.xxx{
    width: 1000px;
    height: 500px;
    display: flex;
    border: 2px solid red;
    justify-content: space-between;
    align-items: center;
}

.card{
    height: 350px;
    width: 300px;
    background: #f3f8f8;
    box-sizing: border-box;
    padding-top: 60px;
    border: 2px solid black;
    position: relative;



}

.title{
    font-size: 25px;
    display: flex;
    justify-content: center;

}

.description{
    text-align: center;
}

.description > p{
    font-size: 20px;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;

}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box > button{
    width: 150px;
    height: 50px;
    background: #f3f8f8;
}


.circle{
    width: 100px;
    height: 100px;
    background: #f3f8f8;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: 100px;
}

.icon{
    font-size: 40px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}